
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: RGBA(255, 225, 53, 0.5); /*yellow*/
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: RGBA(0, 0, 0, 0.8); /*black*/
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: RGBA(255, 225, 53, 1); /*yellow*/
    background-color: RGBA(0, 0, 0, 1); /*black*/
}
#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 20px;
    border: none;
    background-color:RGBA(255, 225, 53, 1); /*yellow*/
    color: RGBA(10, 15, 80, 1); /*blue*/
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color:RGBA(255, 236, 130, 1); /*pale yellow*/ 
}

button:active{
    background-color:RGBA(255, 248, 207, 1); /*even more pale yellow*/
}
.operator-button{
    background-color:RGBA(10, 15, 80, 1); /*dark blue*/
    color: RGBA(255, 225, 53, 1); /*yellow*/
}

.operator-button:hover{
    background-color:RGBA(34, 40, 129, 1); /*pale blue*/ 
}

.operator-button:active{
    background-color:RGBA(64, 70, 152, 1); /*even more pale blue*/
}
